---
layout: layout.liquid
pagination:
  data: characters
  size: 1
  alias: ch
  addAllPagesToCollections: true
permalink: "characters/{{ ch.name | lowerCase }}/"
eleventyComputed:
  title: "{{ ch.name }}"
  desc: "{{ ch.desc }}"
  eleventyNavigation:
    parent: Characters
---
<link rel="stylesheet" href="/css/gallery.css"/>
<link rel="stylesheet" href="/css/characters.css"/>
<article style="--accent: {{ ch.color }}">
  {% assign filteredGallery = gallery | filterGallery: ch.name | sortGalleryByChCount %}
  {% assign pagedoll = filteredGallery | getFirstOfKind: "pagedoll" %}
  {% if pagedoll %}
    {% image 'gallery/' pagedoll.name pagedoll.type 500 pagedoll.name 'pagedoll' %}
  {% endif %}
  <div class="title">
    {% assign iconPath = ch.name | lowerCase | append: " thumb" %}
    {% assign profilePath = ch.name | lowerCase | append: " profile" %}
    {% image "gallery/" profilePath 'png' 'auto' ch.name '' iconPath 'png' %}
    <div class="names">
      <h1>{{ ch.name }}{% if ch.namezh %} · {{ ch.namezh }}{% endif %}</h1>
      {% if ch.desc %}
        {{ ch.desc | renderMD }}
      {% endif %}
    </div>
  </div>
  <details id="toc-wrap">
    <summary><h3>Contents</h3></summary>
    <div id="toc">
      <ul>
        {% if ch.about %}<li><a href="#about">About</a></li>{% endif %}
        {% assign filteredStories = collections.stories | filterStory: ch.name %}
        {% if filteredStories.size > 0 %}<li><a href="#stories">Stories</a></li>{% endif %}
        {% assign filteredRelations = relationships | filterRelations: ch.name %}
        {% if filteredRelations.size > 0 %}<li><a href="#relationships">Relationships</a></li>{% endif %}
        {% if ch.trivia %}<li><a href="#trivia">Trivia</a></li>{% endif %}
        <li><a href="#reference">Reference</a></li>
        {% if filteredGallery.size > 0 %}<li><a href="#gallery">Gallery</a></li>{% endif %}
        <li><a href="#perms">Drawing Permissions</a></li>
      </ul>
    </div>
  </details>
  {% if ch.attr %}
    <div class="attr">
      {% for att in ch.attr %}
        <p>{{ att[0] }}</p>
        <p>{{ att[1] }}</p>
      {% endfor %}
      {% if ch.tags %}
        <p>Tags</p>
        <p>
          {% assign sortedTags = ch.tags | sortAlphabetical %}
          {% for tag in sortedTags %}{% if forloop.index != 1 %}, {% endif %}<a href="/characters/tag/{{ tag | slug }}/">{{ tag }}</a>{% endfor %}
        </p>
      {% endif %}
    </div>
  {% endif %}
  <div class="box-nav solid">
    <a href="{% if ch.af %}{{ ch.af }}{% else %}https://artfight.net/character/4927468.other-character{% endif %}" target="_blank">Attack {{ ch.name }} on Artfight!</a>
    <a target="_blank" href="https://tofutush.leprd.space/{{ ch.name | lowerCase }}" target="_blank">Give {{ ch.name }} a favorite!</a>
  </div>
  {% if ch.quote %}
    <blockquote>{{ ch.quote | renderMD }}</blockquote>
  {% endif %}
  {% if ch.about %}
    <h2 id="about">About</h2>
    {% assign fullbody = filteredGallery | getFirstOfKind: "fullbody" %}
    {% if fullbody %}
      {% image 'gallery/' fullbody.name fullbody.type 500 fullbody.name 'float-right fullbody' %}
    {% endif %}
    {{ ch.about | renderMD }}
  {% endif %}
  {% if filteredStories.size > 0 %}
      <h2 id="stories">Stories</h2>
      {% include 'storylist', stories: filteredStories %}
  {% endif %}
  {% if filteredRelations.size > 0 %}
    <h2 id="relationships">Relationships</h2>
    {% assign count = 0 %}
    {% for rel in filteredRelations %}
      <div class="card">
        {% assign otherCh = rel | getOtherCh: ch.name %}
        {% assign relImg = rel | getRelImg %}
        {% if relImg %}
          {% assign mod = forloop.index |  modulo: 2 %}
          {% if mod == 0 %}
            {% assign class = 'float-left' | append: ' rel-img' %}
          {% else %}
            {% assign class='float-right' | append: ' rel-img' %}
          {% endif %}
          {% assign alt = ch.name | append: ' and ' | append: otherCh[0] %}
          {% if relImg.author %}
            {% assign path = 'others art/'%}
            {% assign alt = alt | append: ' by ' | append: relImg.author %}
          {% else %}
            {% assign path = 'gallery/'%}
          {% endif %}
          {% image path relImg.name relImg.type 500 alt class %}
          {% assign count = count | plus: 1 %}
        {% endif %}
        <h3><a class="rel-h3" href="../{{ otherCh[0] | lowerCase }}/">{{ otherCh[0] }}</a>{% if otherCh[1] %} ({{ otherCh[1] }}){% endif %}</h3>
        {{ rel.desc | renderMD }}
      </div>
    {% endfor %}
  {% endif %}
  {% if ch.trivia %}
    <h2 id="trivia">Trivia</h2>
    {{ ch.trivia | renderMD }}
  {% endif %}
  <h2 id="reference">Reference</h2>
  {% assign palette = ch | getFullPalette %}
  {% include 'palette' colors: palette %}
  {% assign ref = filteredGallery | getFirstOfKind: "ref" %}
  {% if ref %}
    {% assign refAlt = ch.name | append: " reference sheet" %}
    <a target="_blank" href="{% imageUrl 'gallery/' ref.name 'png' 9999 '' 'png' %}">
      <figure>
        {% image 'gallery/' ref.name 'png' 500 refAlt 'max' %}
        <figcaption>Click for full size!</figcaption>
      </figure>
    </a>
  {% endif %}
  {% if filteredGallery.size > 0 %}
    <h2 id="gallery">Gallery</h2>
    <p class="smaller-text">Some art are from other people. If you see your art here and want me to remove it / change the attribution, or if you'd drawn this character before and I didn't put that here and you'd like me to, please <a href="/contact/">tell me</a>!</p>
    {% include 'gallery' imgs: filteredGallery %}
  {% endif %}
  <details>
    <summary><h2 id="perms">Drawing Permissions</h2></summary>
    <div>
      <p>(Nearly identical to my <a href="https://artfight.net/~Tofutush/characters">Artfight</a> permissions anyways.)</p>
      {% if ch.note %}
        <h3>Character Permissions</h3>
        {{ ch.note | renderMD }}
        <h3>Global Permissions</h3>
      {% endif %}
      {% renderFile './tir/characters/files/globalperms.md' %}
    </div>
  </details>
</article>
{% assign prev = pagination.previous %}
{% assign next = pagination.next %}
{% if prev or next %}
  <hr class="solid-hr"/>
  {% include 'prevnext' prev: prev, next: next %}
{% endif %}
<script src="/js/gallery.js"></script>
