---
layout: layout.liquid
title: Characters list
widepage: true
desc: A sortable text list of characters.
eleventyNavigation:
  title: List
  parent: Characters
  order: 0
---
<link rel="stylesheet" href="/css/ch-list.css"/>
<h1>Characters List</h1>
<div class="table-container">
	<table>
		<thead>
			<tr>
				<th>No.</th>
				<th>Name</th>
				<th>中文</th>
				<th>Image count</th>
				<th>Birthday</th>
				<th>Color</th>
			</tr>
		</thead>
		<tbody>
			{% for ch in characters %}
				<tr>
					<td>{{ forloop.index }}</td>
					<td><a href="/characters/{{ ch.name | lowerCase }}/">{{ ch.name }}</a></td>
					<td><a href="/characters/{{ ch.name | lowerCase }}/">{{ ch.namezh }}</a></td>
					{% assign filteredGallery = gallery | filterGallery: ch.name %}
					<td><a href="/characters/{{ ch.name | lowerCase }}/#gallery">{{ filteredGallery.size }}</a></td>
					<td>{{ ch.attr.Birthday }}</td>
					<td class="color" style="background-color: {{ ch.color }}; color: {{ ch.color | calculateBlackWhite }}">{{ ch.color | to6DigitHex | upperCase }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<script src="/js/sort.js"></script>
<script>
	let sort = new SortTable(document.querySelector('table'));
	sort.addSort({
		colName: 'No.',
		keyFunc: td => parseInt(td.innerText),
		sortFunc: SortTable.sortFuncNumber
	});
	sort.addSort({
		colName: 'Name',
		keyFunc: td => td.querySelector('a').innerText,
		sortFunc: SortTable.sortFuncString
	});
	sort.addSort({
		colName: '中文',
		keyFunc: td => td.querySelector('a').innerText,
		sortFunc: SortTable.sortFuncZh
	});
	sort.addSort({
		colName: 'Image count',
		keyFunc: td => parseInt(td.innerText),
		sortFunc: SortTable.sortFuncNumber
	});
	sort.addSort({
		colName: 'Birthday',
		keyFunc: td => td.innerText,
		sortFunc: SortTable.sortFuncString
	});
	sort.addSort({
		colName: 'Color',
		keyFunc: td => SortTable.RGBToHSL(td.style.backgroundColor),
		sortFunc: SortTable.sortFuncHSL
	});
</script>