---
layout: layout.liquid
title: Characters
desc: The characters!
widepage: true
eleventyNavigation:
  key: Characters
  parent: Root
  order: 999
---
<link rel="stylesheet" href="/css/characterspage.css"/>
<div class="box-nav">
    <a href="minor/">Minor characters</a>
    <a href="list/">Sortable text list</a>
</div>
<p>Brand new filter style! Shift to multi-select. I know the tags list gets longer than the characters box brruuuhhh idk how to solve that. Also I haven't made mobile version yet.</p>
<div id="flexbox">
    <div class="tags">
        {% for tag in tagsplot %}
            <div name="{{ tag }}">{{ tag }}</div>
        {% endfor %}
    </div>
    <div class="chs">
        {% for ch in characters %}
            <div tags="{% for tag in ch.tags %}{{ tag | slug }} {% endfor %}">
            <div class="ch" style="--c: {{ ch.color }}">
                <a href="{{ ch.name | lowerCase }}/">
                {% assign iconPath = ch.name | lowerCase | append: " thumb.png" %}
                {% assign profilePath = ch.name | lowerCase | append: " profile.png" %}
                {% image "gallery/" profilePath 200 ch.name '' iconPath %}
                </a>
            </div>
            {% include 'chButton', ch: ch.name %}
            </div>
        {% endfor %}
    </div>
</div>
<script src="/js/filter.js"></script>
<script>
  new Filter(document.querySelector('.chs')).filtering();
</script>