---json
{
	"layout": "layout.liquid",
	"desc": "A comic!",
	"pagination": {
		"data": "comicpages",
		"size": 1,
		"addAllPagesToCollections": "true"
	},
	"tags": ["comics"],
	"permalink": "{% if pagination.pageNumber != 0 %}page-{{ pagination.pageNumber }}{% endif %}/",
	"eleventyComputed": {
		"title": "Page {{ pagination.pageNumber }}",
		"bg": "{{ '/img/bg/' | append: pagination.items[0].bg | append: '.png' | htmlBaseUrl }}",
		"theme": "{{ pagination.items[0].theme }}",
		"eleventyNavigation": {
			"key": "{% if pagination.pageNumber != 0 %}Page {{ pagination.pageNumber }}{% else %}Root{% endif %}",
			"parent": "{% if pagination.pageNumber != 0 %}Root{% endif %}"
		}
	}
}
---

{% arrows pagination.href.first pagination.href.previous pagination.href.next pagination.href.last pagination.pageNumber %}
<div id="img">
	{% assign bruhhh = pagination.items[0].pagenum | getimgurl | append: '.png' %}
	{% image "comics/" bruhhh 1000 "" %}
</div>
{% arrows pagination.href.first pagination.href.previous pagination.href.next pagination.href.last pagination.pageNumber %}
<div id="save">
	<a class="tooltip"><span class="tooltip-text">Load</span><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-from-line"><path d="M19 3H5"/><path d="M12 21V7"/><path d="m6 15 6 6 6-6"/></svg></a>
	<a class="tooltip"><span class="tooltip-text">Save</span><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-from-line"><path d="m18 9-6-6-6 6"/><path d="M12 3v14"/><path d="M5 21h14"/></svg></a>
</div>
{% if pagination.items[0].note %}
	<div id="note" class="graybox">{{ pagination.items[0].note }}</div>
{% endif %}
<script>
// save
let saveButton = document.getElementById('save').children;
saveButton[0].addEventListener('click', e => {
	localStorage.setItem('place', {{ pagination.pageNumber }});
	alert(`Page {{ pagination.pageNumber }} saved!`);
});
saveButton[1].addEventListener('click', e => {
	let place = localStorage.getItem('place');
	if(place) {
		if(place == 0) window.open('/');
		else window.open(`/page-${place}/#comic`);
	}
	else alert('no place was saved!');
});
</script>
</div>
</div>