---
layout: layout.liquid
desc: A comic!
pagination:
  data: comicpages
  size: 1
permalink: "{% if pagination.pageNumber != 0 %}page-{{ pagination.pageNumber }}{% endif %}/"
eleventyComputed:
  title: "Page {{ pagination.pageNumber }}"
  bg: "{{ '/img/bg/' | append: pagination.items[0].bg | append: '.png' | htmlBaseUrl }}"
  theme: "{{ pagination.items[0].theme }}"
---

{% arrows pagination.href.first pagination.href.previous pagination.href.next pagination.href.last pagination.pageNumber %}
<div id="img">
  {% assign bruhhh = pagination.items[0].pagenum | getimgurl %}
  {% image "comics/" bruhhh "png" 1000 "" %}
</div>
{% arrows pagination.href.first pagination.href.previous pagination.href.next pagination.href.last pagination.pageNumber %}
<div id="save">
	<a>Save place</a>
	<a>Load place</a>
</div>
{% if pagination.items[0].note %}
  <div id="note" class="graybox">{{ pagination.items[0].note }}</div>
{% endif %}
<script>
  let saveButton = document.getElementById('save').children;
  saveButton[0].addEventListener('click', e => {
      localStorage.setItem('place', {{ pagination.pageNumber }});
      alert(`Page {{ pagination.pageNumber }} saved!`);
  });
  saveButton[1].addEventListener('click', e => {
      let place = localStorage.getItem('place');
      if(place) {
        if(place == 0) window.open('/');
        else window.open(`/page-${place}/#comic`);
      }
      else alert('no place was saved!');
  });
</script>
</div>
</div>