---
title: Calendar
desc: The calendar of holidays and birthdays!
tags: lore
categories:
  - Lore
widepage: true
eleventyNavigation:
  parent: World
---
<link rel="stylesheet" href="/css/calendar.css"/>
<details id="toc-wrap">
  <summary><h3>Contents</h3></summary>
  <div id="toc">
    <ul>
      {% for month in calendar %}
        <li><a href="#{{ month.name | lowerCase }}">{{ month.name }}</a></li>
      {% endfor %}
      <li><a href="#notes">Notes</a></li>
    </ul>
  </div>
</details>
{% for month in calendar %}
<div class="calendar">
  <div><h1 id="{{ month.name | lowerCase }}">{{ month.name }}</h1></div>
  {% for day in month.days %}
    <div{% if day.bdays.days %} class="has-birthday"{% endif %}>
      <div class="number{% if day.bdays.holidays %} has-holiday tooltip{% endif %}">
        {% if day.bdays.holidays %}
          <span class="tooltip-text">
            {% for holiday in day.bdays.holidays %}
              {{ holiday }}<br/>
            {% endfor %}
          </span>
        {% endif %}
        <span>{{ day.date }}</span>
      </div>
      {% if day.bdays.days %}
        <div class="bdays">
          {% for bday in day.bdays.days %}
            <a href="{{ bday.url }}" class="tooltip">
              <span class="tooltip-text">{{ bday.alt }}</span>
              {% image bday.image 100 bday.alt %}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endfor %}
<div class="max-800">
  <h2 id="notes">Notes</h2>
  <p>I spent way too much time on this. I always spend my time where I shouldn't. ADHD-ass brain.</p>
  <p>Anyways, a birthday and holiday calendar! Inspired by <a href="https://numbersstory.com/fun/birthdays">Numbers Story</a> by Kolo.</p>
  <p>I just used our solar calendar because I don't have enough brain juice to make one of my own, and also I've already been planning the story using this calendar.</p>
  <p>Note the difference between solar and agricultural dates. Because of shenanigans, China (and by extension this world) mixes the solar and agricultural calendars, with the solar calendar used in everyday life (and national holidays), and the agricultural one used for traditional holidays.</p>
  <p>(I made a mistake here before saying it was the lunar calendar when it wasn't. The terms "阴历" and "农历" are used interchangably but there is a difference between them, and China does not use the old lunar calendar now. Therefore we don't celebrate whatever the fuck the "lunar new year" is either.)</p>
  <p>The two calendars don't have a fixed offset, so that means traditional holidays would land on a different solar date each year. For our convenience, we'll be assuming the year 2031 for lunar-solar date matching. (Which is actually written as 2032 in-universe because I am dumb.)</p>
  <p>Also you see how each month starts on Monday. The calendar here's a general list of dates but not specific to any year, my previous statement about 2031/2 notwithstanding. Also those cell-paddings are hard to get responsive (I tried). So I gave up. Let's not think too much into it. The point of the page is just a list of birthdays and holidays.</p>
</div>