<div class="options"{% if top %} id="arrow"{% endif %}>
    <a {% unless p %}class="noclick"{% endunless %} href="{{ f }}{% unless top %}#arrow{% endunless %}">{% lucide 'chevrons-left' %}</a>
    <a {% unless p %}class="noclick"{% endunless %} href="{{ p }}{% unless top %}#arrow{% endunless %}">{% lucide 'chevron-left' %}</a>
    <p><span class="pagenum">{{ num }}</span></p>
    <a {% unless n %}class="noclick"{% endunless %} href="{{ n }}{% unless top %}#arrow{% endunless %}">{% lucide 'chevron-right' %}</a>
    <a {% unless n %}class="noclick"{% endunless %} href="{{ l }}{% unless top %}#arrow{% endunless %}">{% lucide 'chevrons-right' %}</a>
</div>