<div class="options"{% if top %} id="arrow"{% endif %}>
	<a {% if p %}href="{{ f }}{% unless top %}#arrow{% endunless %}"{% else %}disabled{% endif %}>{% lucide 'chevrons-left' %}</a>
	<a {% if p %}href="{{ p }}{% unless top %}#arrow{% endunless %}"{% else %}disabled{% endif %}>{% lucide 'chevron-left' %}</a>
	<p><span class="pagenum">{{ num }}</span></p>
	<a {% if n %}href="{{ n }}{% unless top %}#arrow{% endunless %}"{% else %}disabled{% endif %}>{% lucide 'chevron-right' %}</a>
	<a {% if n %}href="{{ l }}{% unless top %}#arrow{% endunless %}"{% else %}disabled{% endif %}>{% lucide 'chevrons-right' %}</a>
</div>