---json
{
  "layout": "layout.liquid",
  "desc": "A comic!",
  "tags": ["comics"],
  "noFooter": true,
  "pagination": {
    "size": 1,
    "addAllPagesToCollections": "true",
    "alias": "comic"
  },
  "permalink": "stories/{{ parent | slug }}/page-{{ pagination.pageNumber }}/",
  "eleventyComputed": {
    "title": "{{ comicTitle }} comic - page {{ pagination.pageNumber }}",
    "theme": "{{ comic.theme }}",
    "eleventyNavigation": {
      "key": "{{ comicTitle }} comic - page {{ pagination.pageNumber }}",
      "title": "Page {{ pagination.pageNumber }}",
      "parent": "{{ parent }}"
    }
  }
}
---
<link rel="stylesheet" href="/css/comic.css"/>
<style>
body {
  background-image: url({{ '/img/bg/' | append: comic.bg | append: '.png' | htmlBaseUrl }});
}
{% if theme == 'dark' %}
#header {
  background-image: linear-gradient(to top, #0000, #121212);
}
#footer {
  background-image: linear-gradient(to bottom, #0000, #121212);
}
{% endif %}
</style>
{% include 'arrows', f: pagination.href.first, p: pagination.href.previous, n: pagination.href.next, l: pagination.href.last, num: pagination.pageNumber, top: true %}
<div id="img">
  {% assign bruhhh = comic.url | append: '.png' %}
  {% assign alt = "Page " | append: comic.pagenum %}
  {% image "comics/" bruhhh 1000 alt %}
</div>
{% include 'arrows', f: pagination.href.first, p: pagination.href.previous, n: pagination.href.next, l: pagination.href.last, num: pagination.pageNumber %}
<div id="date-save">
  <p>{{ comic.date }}</p>
  <div id="save">
    <a title="Save" onclick="save()">{% lucide 'arrow-down-from-line' %}</a>
    <a title="Load" onclick="load()">{% lucide 'arrow-up-from-line' %}</a>
  </div>
</div>
{% if comic.note %}
  <div id="note" class="graybox">{{ comic.note | renderMD }}</div>
{% endif %}
<script>
// save
function save() {
  localStorage.setItem('{{ comicTitle }} place', {{ pagination.pageNumber }});
  alert(`Page {{ pagination.pageNumber }} saved!`);
}
function load() {
  let place = localStorage.getItem('{{ comicTitle }} place');
  if(place !== undefined) window.open(`../page-${place}/#img`, '_self');
  else alert('no place was saved!');
}
</script>
</div>
</div>