<div class="dialog">
	{% for line in dialogContent %}
		{% assign isArray = line | isArray %}
		{% if isArray %}
			{% for dialog in line %}
				{% assign ch = dialog | dialogGetCharacter %}
				{% assign ln = dialog | dialogGetLine %}
				{% assign exists = characters | getChByName: ch %}
				<div class="dialog-bubble" {% if exists %}style="--c: {{ characters | getChColor: ch }}"{% endif %}>
					{% if exists %}
						<a href="/characters/{{ ch | lowerCase }}/">
							{% assign iconPath = ch | lowerCase | append: " thumb" %}
							{% assign profilePath = ch | lowerCase | append: " profile" %}
							{% image "gallery/" profilePath 'png' 100 ch '' iconPath 'png' %}
						</a>
						<p class="tags">{% include 'chButton', ch: ch %}</p>
					{% else %}
						<div></div>
						<p>{{ ch }}</p>
					{% endif %}
					{{ ln | renderMD }}
				</div>
			{% endfor %}
		{% else %}
			<div class="dialog-narration">{{ line | renderMD }}</div>
		{% endif %}
	{% endfor %}
</div>