<div class="gallery">
{% for img in imgs %}
	<div class="img">
		{% image img 120 %}
		<div class="modal">
			<button class="close">{% lucide 'x' 48 %}</button>
			<button class="prev">{% lucide 'chevron-left' 48 'var(--off-white)' %}</button>
			<button class="next">{% lucide 'chevron-right' 48 'var(--off-white)' %}</button>
			{% image img 1000 0 0 0 true %}
			{% if img.author %}<p>Art by <a href="{{ img.authorUrl }}" target="_blank" class="external-link">{{ img.author }}</a></p>{% endif %}
			{% if img.ch %}
				<div class="tags chbuttons">
					{% for ch in img.ch %}
						{% include 'chButton', ch: ch %}
					{% endfor %}
				</div>
			{% endif %}
			<div class="comment">
				<p class="name-date"><span>{{ img.name }}</span><span>{{ img.date }}</span></p>
				{% if img.comment %}
					{{ img.comment | renderMD }}
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}
</div>