<div class="gallery">
{% for img in imgs %}
	<div class="img">
		<button class="thumb"
			data-url="{% capture url %}{% imageUrl img 1000 0 0 true %}{% endcapture %}{{ url | htmlBaseUrl }}"
			data-name="{{ img.name }}"
			{% if img.author %}
				data-author="{{ img.author }}"
				data-authorUrl="{{ img.authorUrl }}"
			{% endif %}
			{% if img.ch %}
				data-ch="{% capture chHTML %}{% for ch in img.ch %}{% include 'chButton', ch: ch %}{% endfor %}{% endcapture %}{{ chHTML | escape }}"
			{% endif %}
			{% if img.comment %}
				data-comment="{{ img.comment | renderMD | escape }}"
			{% endif %}
		>{% image img 200 %}</button>
	</div>
{% endfor %}
</div>