---
navOptions:
  includeSelf: true
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ desc }}" >
  <meta name="author" content="Tofutush">
  <meta property="og:title" content="{% if page.url != '/' %}{{ title }} | {% endif %}The Iron Ragdoll">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/icon.ico">
  <meta property="og:site_name" content="The Iron Ragdoll">
  <meta property="og:description" content="{{ desc }}">
  <title>{% if page.url != '/' %}{{ title }} | {% endif %}The Iron Ragdoll</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/css/callout.css"/>
  <link rel="stylesheet" href="/css/linkcolor.css"/>
  <link rel="icon" href="/icon.ico"/>
  {% if widepage %}
    <style>
      #main-content {
        max-width: 1200px;
      }
    </style>
  {% endif %}
</head>
<body class="{% if page.url contains '/page-' or page.url == '/' %}{{ theme }}{% else %}light{% endif %}">
<div id="header">
  <div id="title"><a href="/">The Iron Ragdoll</a></div>
  <div id="linx">
    <a href="/nav/">Navigation (start here!)</a>
    <a href="/about/">About</a>
    {% comment %} <a href="/chapters/">Chapters</a> {% endcomment %}
    <a href="/characters/">Characters</a>
    {% comment %} <a href="/stories/">Stories</a> {% endcomment %}
    <a href="/world/">World</a>
    <a href="/gallery/2025/">Gallery</a>
    {% comment %} <a href="/fun/">Fun</a> {% endcomment %}
  </div>
</div>
<div id="main-content">
  {% unless page.url contains '/page-' or page.url == '/' %}
    {% if navTitle %}
      {% assign bc = collections.all | eleventyNavigationBreadcrumb: navTitle, navOptions %}
    {% else %}
      {% assign bc = collections.all | eleventyNavigationBreadcrumb: title, navOptions %}
    {% endif %}
    {% assign length = bc | size %}
    {% if length > 2 %}
      <div class="breadcrumbs">
        {% for item in bc %}
          {% if forloop.index != 1 %}
            {% if forloop.index != 2 %}
              <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg></span>
            {% endif %}
            <a href="{{ item.url }}">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endunless %}
  {{ content }}
</div>
<div id="footer">
  {% comment %} <div id="footer-linx">
    <ul>
      <li><h3>Links</h3></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/changelog/">Changelog</a></li>
      <li><a href="/sitemap/">Sitemap</a></li>
      <li><a href="/feed.xml/">RSS Feed</a></li>
    </ul>
    <ul>
      <li><h3>Comic</h3></li>
      <li><a href="/chapters/">Chapters</a></li>
      <li><a href="/characters/">Characters</a></li>
      <li><a href="/world/">World</a></li>
      <li><a href="/gallery/">Gallery</a></li>
      <li><a href="/fun/">Fun</a></li>
    </ul>
    <ul>
      <li><h3>Mirrors</h3></li>
      <li><a target="_blank" href="https://mspfa.com/?s=50350&p=1">MSPFA</a></li>
      <li><a target="_blank" href="https://the-iron-ragdoll.thecomicseries.com">ComicFury</a></li>
      <li><a target="_blank" href="https://tapas.io/series/The-Iron-Ragdoll">Tapas</a></li>
      <li><a target="_blank" href="https://namicomi.com/en/title/EGyt8a6z/the-iron-ragdoll/chapters?lang=en">NamiComi</a></li>
      <li><a target="_blank" href="https://globalcomix.com/c/the-iron-ragdoll">Globalcomix</a></li>
      <li><a target="_blank" href="https://neocities.org/site/tofutush">Neocities</a></li>
      <li><a target="_blank" href="https://tofutush.github.io/The-Iron-Ragdoll">Github.io</a></li>
    </ul>
  </div> {% endcomment %}
  {% comment %} <div id="footer-side"> {% endcomment %}
    <div id="footer-controls">
      <a href="/nav/">Navigation</a>
      {% unless page.url contains '/page-' or page.url == '/' %}
        <div id="theme-toggle-wrap">
          <div id="theme-toggle">
            <div id="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/></svg>
            </div>
          </div>
        </div>
        <script src="/js/themeSwitch.js"></script>
      {% endunless %}
      <div id="back-to-top">
        <a href="#top"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-to-line"><path d="M5 3h14"/><path d="m18 13-6-6-6 6"/><path d="M12 7v14"/></svg></a>
      </div>
    </div>
    {% comment %} <div id="footer-warning">
      <h3>Content warning</h3>
      <p>This site and its contents feature strong language, cartoon violence, and occasional mature themes. Viewer discretion is advised.</p>
      <p>Also: This site uses Javascript for theme switching, section expanding, and gallery popup and filtering! It should be fine to view most other things with JS disabled.</p>
    </div> {% endcomment %}
  {% comment %} </div> {% endcomment %}
</div>
<script src="/js/collapsible.js"></script>
</body>
</html>