<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ desc }}" >
	<meta name="author" content="Tofutush">
	<meta property="og:title" content="The Iron Ragdoll{% if page.url != '/' %} | {{ title }}{% endif %}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/icon.ico">
	<meta property="og:site_name" content="The Iron Ragdoll">
	<meta property="og:description" content="{{ desc }}">
	<title>The Iron Ragdoll{% if page.url != '/' %} | {{ title }}{% endif %}</title>
	<link rel="stylesheet" href="/css/style.css"/>
	<link rel="icon" href="/icon.ico"/>
	{% if page.url == '/chapters/' %}<link rel="stylesheet" href="/css/chapters.css"/>{% endif %}
	{% if page.url contains '/characters/' %}<link rel="stylesheet" href="/css/characters.css"/>{% endif %}
	{% if page.url contains '/gallery/' %}<link rel="stylesheet" href="/css/gallery.css"/>{% endif %}
		{% if page.url contains '/page-' or page.url == '/' %}
		<link rel="stylesheet" href="/css/comic.css"/>
		<style>
		body {
			background-image: url({{ bg }});
		}
		{% if theme == 'night' %}
			:root {
				--text: #fff;
			}
		{% elsif theme == 'day' %}
			:root {
				--text: #000;
			}
		  	#header {
				background-image: none;
			}
		  	#title {
				text-shadow: none;
			}
		  	.dpdn-ul {
				background-color: #ffffff80;
			}
		{% endif %}
		</style>
	{% endif %}
</head>
<body>
<div id="header">
	<div id="title"><a href="/">The Iron Ragdoll</a></div>
	<div id="linx">
		<a href="/about/">About</a>
		<a href="/chapters/">Chapters</a>
		<div class="dpdn">
			<a>Other</a>
			<ul class="dpdn-ul">
				<a href="/characters/">Characters</a>
				<a href="/gallery/">Gallery</a>
			</ul>
		</div>
		<div class="dpdn">
			<a>Mirrors</a>
			<ul class="dpdn-ul">
				<a target="_blank" href="https://mspfa.com/?s=50350&p=1">MSPFA</a>
				<a target="_blank" href="https://the-iron-ragdoll.thecomicseries.com">ComicFury</a>
				<a target="_blank" href="https://tapas.io/series/The-Iron-Ragdoll">Tapas</a>
				<a target="_blank" href="https://namicomi.com/en/title/EGyt8a6z/the-iron-ragdoll/chapters?lang=en">NamiComi</a>
				<a target="_blank" href="https://us.dillyhub.com/project/2fadcccb59fe82c">Dillyhub</a>
				<a target="_blank" href="https://globalcomix.com/c/the-iron-ragdoll">Globalcomix</a>
				<p style="font-size: 12px;">I may have too many mirrors.</p>
				<p style="font-size: 12px;">But then, like backups,<br>one can never have too many mirrors.</p>
			</ul>
		</div>
	</div>
</div>
<div id="flexbox">
	<div id="comic">
	{{ content }}
	</div>
</div>
<script src="/js/collapsible.js"></script>
</body>
</html>