---json
{
  "layout": "layout.liquid",
  "eleventyComputed": {
    "eleventyNavigation": {
        "key": "{{ title }}",
        "parent": "Stories"
    },
    "desc": "{{ summary }}"
  }
}
---
<link rel="stylesheet" href="/css/story.css"/>
<h1>{{ title }}</h1>

<div class="attr">
    <div class="attr-key">Canon?</div>
    <div class="attr-val">{% if canon == 'yes' %}Yes (has a planned occurence in the plot){% elsif canon == 'semi' %}Semi-canon (is not planned in the plot, but has no conflicts with the original story){% else %}No (you should not consider this in the context of TIR's universe){% endif %}</div>
    <div class="attr-key">Main Cast</div>
    <div class="attr-val chbuttons">
        {% for ch in chs %}
            <div>{% include 'chButton', ch: ch %}</div>
        {% endfor %}
    </div>
    {% if location %}
        <div class="attr-key">Location</div>
        <div class="attr-val">{{ location }}</div>
    {% endif %}
    <div class="attr-key">Time period</div>
    <div class="attr-val">{{ time }}</div>
    {% if summary %}
        <div class="attr-key">Synopsis</div>
        <div class="attr-val">{{ summary }}</div>
    {% endif %}
</div>

{{ content }}

{% assign prev = collections.stories | getPreviousCollectionItem %}
{% assign next = collections.stories | getNextCollectionItem %}
{% if prev or next %}
    <hr/>
    <div class="prev-next">
        {% if prev %}
            <a href="{{ prev.url }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                <p>Previous</p>
            </a>
        {% endif %}
        <div></div>
        {% if next %}
            <a href="{{ next.url }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                <p>Next</p>
            </a>
        {% endif %}
    </div>
{% endif %}
