---
layout: storyLayout.liquid
pagination:
  data: collections.storyTags
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: "stories/tag/{{ tag | slug }}/"
noNav: true
eleventyComputed:
  title: "{{ tag }} Stories"
  tag: "{{ tag }}"
---
{% assign filteredStories = collections.stories | filterStoriesByTag: tag %}
<div class="breadcrumbs"><a href="/stories/">Stories</a> {% lucide 'chevron-right' %} <a href="/stories/tag/">Tag</a>{% lucide 'chevron-right' %}<a href="{{ page.url }}">{{ tag }}</a></div>
{% include 'storylist', stories: filteredStories %}