---
layout: gallery.liquid
title: Picture collections
desc: Pictures with specific categories.
eleventyNavigation:
  parent: Gallery
  order: 9
---
<style>
    #footers-div {
        display: flex;
        gap: 2em;
        overflow-x: auto;
        align-items: flex-end;
        
        &>img {
            width: 13em;
            height: auto;
        }
    }
    .pic-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 1em;
        align-items: end;

		& img {
			width: 100%;
			height: auto;
		}
	}
    .but-smaller {
    	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .no-gap {
        gap: 0;
    }
    .three-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0;

		& img {
			width: 100%;
			height: auto;
		}
    }
    @media only screen and (max-width: 480px) {
        .three-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
<h1>Picture collections</h1>
<p>Here's a list of pictures to browse through.</p>
<details id="toc-wrap">
    <summary><h3>Contents</h3></summary>
    <div id="toc">
        <ul>
            <li><a href="#banners">Banners</a></li>
            <li><a href="#footers">Footers</a></li>
            <li><a href="#new-year">New Year</a></li>
            <li><a href="#wallpapers">Wallpapers</a></li>
            <li>
                <a href="#characters">Characters</a>
                <ul>
                    <li><a href="#profiles">Profiles</a></li>
                    <li><a href="#thumbnails">Thumbnails</a></li>
                    <li><a href="#souls">Souls</a></li>
                    <li><a href="#references">References</a></li>
                </ul>
            </li>
        </ul>
    </div>
</details>
<h2 id="banners">Banners</h2>
{% assign banners = gallery | filterGalleryByKind: "banner" %}
{% for b in banners %}
    {% assign ch = b.ch[0] %}
    {% if ch %}
        <a href="/characters/{{ ch }}/">{% imageObj b 3000 0 'max' %}</a>
    {% else %}
        {% imageObj b 3000 0 'max' %}
    {% endif %}
{% endfor %}
<h2 id="footers">Footers</h2>
{% assign footers = gallery | filterGalleryByKind: "footer" %}
<div class="pic-grid">
    {% for f in footers %}
        {% imageObj f 500 %}
    {% endfor %}
</div>
<h2 id="new-year">New Year</h2>
<p>Hopefully this can motivate me to draw one of these every year.</p>
<div class="pic-grid">
    <a href="/characters/cosmo/">{% imageName 'cosmo snake year' 500 '2025 Year of the Snake' %}</a>
    <a href="/characters/elegance/">{% imageName 'elegance horse year' 500 '2026 Year of the Horse' %}</a>    
    <div></div>
</div>
<h2 id="wallpapers">Wallpapers</h2>
<p>Special thanks to <a class="external-link" target="_blank" href="https://theoliveoli.blahaj.land/">TheOliveOli</a> for making these wallpapers!</p>
<p>These are <i>not</i> full size! Click the image to download the full size version.</p>
<h3>Desktop</h3>
<div class="pic-grid">
	<a href="/img/bg/wall/cms lineless chars wallpaper.png">{% imagePath 'bg/wall/cms lineless wallpaper.png' 500 'desktop' %}</a>
	<a href="/img/bg/wall/cms lineless chars wallpaper.png">{% imagePath 'bg/wall/cms lineless chars wallpaper.png' 500 'desktop' %}</a>
	<a href="/img/bg/wall/cms lineless chars alt wallpaper.png">{% imagePath 'bg/wall/cms lineless chars alt wallpaper.png' 500 'desktop' %}</a>
</div>
<p>By TheOliveOli, 3840 &times; 2160px</p>
<div class="pic-grid">
	<a href="/img/bg/wall/sparky nightsun wallpaper.png">{% imagePath 'bg/wall/sparky nightsun wallpaper.png' 500 'desktop' %}</a>
	<div></div><div></div>
</div>
<p>1920 &times; 1080px</p>
<h3>Phone</h3>
<div class="pic-grid">
	<a href="/img/bg/wall/cms lineless portrait.png">{% imagePath 'bg/wall/cms lineless portrait.png' 200 'phone' %}</a>
	<a href="/img/bg/wall/cms lineless chars portrait.png">{% imagePath 'bg/wall/cms lineless chars portrait.png' 200 'phone' %}</a>
	<a href="/img/bg/wall/cms lineless chars alt portrait.png">{% imagePath 'bg/wall/cms lineless chars alt portrait.png' 200 'phone' %}</a>
</div>
<p>By TheOliveOli, 1920 &times; 3840px</p>
<h2 id="characters">Characters</h2>
<div class="three-grid">
    {% for ch in characters %}
        {% assign profile = ch.name | lowerCase | append: ' profile' %}
        {% assign thumb = ch.name | lowerCase | append: ' thumb' %}
        {% assign soul = ch.name | lowerCase | append: ' soul' %}
        <a href="/characters/{{ ch.name | lowerCase }}">{% imageName profile 300 0 '' 'img/gallery/literally empty.png' %}</a>
        <a href="/characters/{{ ch.name | lowerCase }}">{% imageName thumb 300 0 '' 'img/gallery/literally empty.png' %}</a>
        <a href="/characters/{{ ch.name | lowerCase }}">{% imageName soul 300 0 '' 'img/gallery/literally empty.png' %}</a>
    {% endfor %}
</div>
<h3 id="profiles">Profiles</h3>
<div class="pic-grid no-gap">
    {% assign profiles = gallery | filterGalleryByKind: "thumb new" %}
    {% for img in profiles %}
        <a href="/characters/{{ img.ch[0] }}/">{% imageObj img 300 %}</a>
    {% endfor %}
</div>
<h3 id="thumbnails">Thumbnails</h3>
<div class="pic-grid but-smaller no-gap">
    {% assign thumbnails = gallery | filterGalleryByKind: "thumb" %}
    {% for img in thumbnails %}
        <a href="/characters/{{ img.ch[0] }}/">{% imageObj img 300 %}</a>
    {% endfor %}
</div>
<h3 id="souls">Souls</h3>
<div class="pic-grid but-smaller no-gap">
    {% assign souls = gallery | filterGalleryByKind: "soul" %}
    {% for img in souls %}
        <a href="/characters/{{ img.ch[0] }}/">{% imageObj img 300 %}</a>
    {% endfor %}
</div>
<h3 id="references">References</h3>
<div class="pic-grid">
    {% assign refs = gallery | filterGalleryByKind: "ref" %}
    {% for img in refs %}
        <a href="/characters/{{ img.ch[0] }}/">{% imageObj img 300 %}</a>
    {% endfor %}
</div>
