---
  permalink: "/gallery/feed.xml"
  eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
	<title>The Iron Ragdoll Image RSS</title>
	<link>https://tofutush.github.io/The-Iron-Ragdoll/</link>
	<atom:link href="https://tofutush.github.io/The-Iron-Ragdoll/gallery" rel="self" type="application/rss+xml" />
	<description>Image updates for The Iron Ragdoll. Only my art is included.</description>
	<language>en-US</language>
	<lastBuildDate>{{ gallery[0].date | dateToRfc822 }}</lastBuildDate>
	{% assign filteredGallery = gallery | getOnlyMyArt %}
	{% for img in filteredGallery %}
		{% assign year = img | getYear %}
		<item>
			<title>{{ img.name }}</title>
			<link>https://tofutush.github.io/The-Iron-Ragdoll/gallery/{{ year }}/</link>
			<description><![CDATA[
				<h1>{{ img.name }}</h1>
				{% capture image %}{% image "gallery/" img.name img.type 1000 img.name %}{% endcapture %}
				{{ image | transformWithHtmlBase: "https://tofutush.github.io/" }}</img>
				{% if img.ch %}
				<ul>
					{% for ch in img.ch %}
						<li><a href="https://tofutush.github.io/The-Iron-Ragdoll/characters/{{ ch }}/">{{ ch | capitalize }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if img.comment %}
					{{ img.comment | renderMD }}
				{% endif %}
			]]></description>
			<pubDate>{{ img.date | dateToRfc822 }}</pubDate>
			<creator>Tofutush</creator>
		</item>
	{% endfor %}
</channel>
</rss>