---
layout: gallery.liquid
title: Gallery Stats
desc: Statistics for my gallery because I'm a stats nerd.
eleventyNavigation:
  parent: Gallery
---
{% assign filteredGallery = gallery | getOnlyMyArt %}
<p>Total number of pictures: {{ filteredGallery.size }}</p>
{% for eachyear in years reversed %}
  {% assign numInYear = filteredGallery | filterGalleryByDate: eachyear %}
  <details>
    <summary><h2><a href="/gallery/{{ eachyear }}/">{{ eachyear }}</a>: {{ numInYear.size }} pictures</h2></summary>
    <ul>
      {% for month in (1..12) %}
        {% assign paddedMonth = month | padStart: 2, '0' %}
        {% assign yearMonth = eachyear | append: '-' | append: paddedMonth %}
        {% assign numInMonth = filteredGallery | filterGalleryByDate: yearMonth %}
        {% if numInMonth.size > 0 %}
          <li><a href="/gallery/{{ eachyear }}/#{{ month | getMonthName | slug }}">{{ month | getMonthName }}</a>: {{ numInMonth.size }} picture{% if numInMonth.size != 1 %}s{% endif %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </details>
{% endfor %}
