---
layout: galleryLayout.liquid
title: Gallery Stats
desc: Statistics for my gallery because I'm a stats nerd.
eleventyNavigation:
  key: Gallery Stats
  parent: Gallery
---
{% assign filteredGallery = gallery | getOnlyMyArt %}
<h1>Gallery stats</h1>
{% assign totalMonths = 0 %}
{% for eachyear in years reversed %}
  {% assign numInYear = filteredGallery | filterGalleryByDate: eachyear %}
  <details>
    <summary><h2><a href="/gallery/{{ eachyear }}/">{{ eachyear }}</a>: {{ numInYear.size }} pictures</h2></summary>
    <ul>
      {% for month in (1..12) %}
        {% assign paddedMonth = month | padStart: 2, '0' %}
        {% assign yearMonth = eachyear | append: '-' | append: paddedMonth %}
        {% assign numInMonth = filteredGallery | filterGalleryByDate: yearMonth %}
        {% if numInMonth.size > 0 %}
          {% assign totalMonths = totalMonths | plus: 1 %}
          <li><a href="/gallery/{{ eachyear }}/#{{ month | getMonthName | slug }}">{{ month | getMonthName }}</a>: {{ numInMonth.size }} picture{% if numInMonth.size != 1 %}s{% endif %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </details>
{% endfor %}
<h2>Extra stats</h2>
{% assign totalCh = 0 %}
{% for img in filteredGallery %}
  {% if img.ch %}
    {% assign totalCh = totalCh | plus: img.ch.size %}
  {% endif %}
{% endfor %}
<ul>
  <li>Total number of pictures: {{ filteredGallery.size }}</li>
  <li>Average pictures per year: {{ filteredGallery.size | divided_by: years.size | round: 3 }}</li>
  <li>Average pictures per month: {{ filteredGallery.size | divided_by: totalMonths | round: 3 }}</li>
  <li>Average characters per picture: {{ totalCh | divided_by: filteredGallery.size | round: 3 }}</li>
</ul>
<p>See <a href="/characters/list/#progress">here</a> for stats on what pictures each character has!</p>