---
layout: article.liquid
title: MSS Personality Quiz
desc: Which MSS character are you?
eleventyNavigation:
  parent: Fun
---
<link rel="stylesheet" href="/css/quiz.css"/>
<div id="quiz"></div>
<script src="/js/quiz.js"></script>
<script>
const quizContent = {
  "id": "mss",
  "desc": "The Ministry of State Security, widely feared and revered by the citizens of Bauhinia. Who will you be among its ranks? The ruthless spymaster, the hapless scapegoat, or the brainwashed patriot? Find out below!",
  "randomize": true,
  "results": {
    "Paperweight": {
      "url": "../../characters/paperweight/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'paperweight profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You're old and retiring. You are disgraced. You fucked up your entire life and now you're a grouchy old guy who hates children (based) and fun (less based)."
    },
    "Goose": {
      "url": "../../characters/goose/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'goose profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You're the freak. A freak who likes torturing people. You're a goofy villain. You're a bag of paranoia about to explode. Or did you already explode?"
    },
    "Pumpkin": {
      "url": "../../characters/pumpkin/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'pumpkin profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You are a cute goofy guy. You follow orders. You will get murdered later (you lived though because you rock and I didn't want to kill you off)."
    },
    "Halcyon": {
      "url": "../../characters/halcyon/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'halcyon profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You're the only one in the team who actually works. But you hate your job. You want your magic back. Good thing you're a spy."
    },
    "Whiteout": {
      "url": "../../characters/whiteout/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'whiteout profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You're like, currently the oldest character in TIR. You are cold and emotionless, but underneath the mask, you care for your colleagues a lot. Though they would call you a traitor, you know the truth was that you were the one betrayed by the country you used to love. You have no idea what milk tea is and that's a tragedy considering it's a very traditional Westavian drink (not that you like the Westavians, but still)."
    },
    "Sky": {
      "url": "../../characters/sky/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'sky profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You made it into the MSS and that's all because Sparky couldn't let go of that nuke. Thank her. You soon proved yourself to be an amazing officer, though you left the field right after to surround yourself with stupid children."
    },
    "Sugarcane": {
      "url": "../../characters/sugarcane/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'sugarcane profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You are <em>completely</em> brainwashed. You betrayed your friend, and you betrayed yourself. Like, I don't know if anyone can change you back now, but perhaps that's for the better."
    }
  },
  "questions": [
    {
      "title": "Oh, look, a milk tea shop!",
      "answers": [
        {
          "text": "No ice, hot, extra boba.",
          "response": {
            "Goose": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "Ice, extra large, extra boba.",
          "response": {
            "Pumpkin": 1,
            "Sky": 1
          }
        },
        {
          "text": "Eeeewww, it's gonna make me gain weight.",
          "response": {
            "Halcyon": 1
          }
        },
        {
          "text": "Milk tea? Blow this place up.",
          "response": {
            "Paperweight": 1
          }
        },
        {
          "text": "What is this I've genuinely never heard of it.",
          "response": {
            "Whiteout": 1
          }
        }
      ]
    },
    {
      "title": "You were doing a routine bugging job (installing listening devices) at someones apartment. But they came home and saw you! what do you do?",
      "answers": [
        {
          "text": "Jump out the window.",
          "response": {
            "Pumpkin": 1
          }
        },
        {
          "text": "Beat them up with your trusty baton.",
          "response": {
            "Goose": 2,
            "Whiteout": 1
          }
        },
        {
          "text": "Go \"you're arrested!\" even though you have 0 authority to arrest them.",
          "response": {
            "Sky": 2,
            "Halcyon": 1
          }
        },
        {
          "text": "Threaten them not to tell anyone, finish bugging (while they're still watching) and leave like everything's normal.",
          "response": {
            "Paperweight": 2,
            "Sugarcane": 1
          }
        },
        {
          "text": "Hide the bug in your pocket and go \"Heeeeey there darling, go make me a cup of tea would you?\"",
          "response": {
            "Sky": 2,
            "Goose": 1
          }
        }
      ]
    },
    {
      "title": "Some kid next to you on a train is being really annoying…",
      "answers": [
        {
          "text": "Shove my MSS badge into their face and threaten to arrest them if they keep it up.",
          "response": {
            "Sky": 1,
            "Goose": 1,
            "Sugarcane": 1,
            "Paperweight": 1
          }
        },
        {
          "text": "Extremely angrily tell the kid's parents to get them to shut up.",
          "response": {
            "Paperweight": 1
          }
        },
        {
          "text": "I don't mind at all. Let them have fun!",
          "response": {
            "Pumpkin": 1,
            "Whiteout": 1
          }
        },
        {
          "text": "Politely tell the kid to be quiet.",
          "response": {
            "Pumpkin": 1,
            "Whiteout": 1,
            "Halcyon": 1
          }
        }
      ]
    },
    {
      "title": "A person you're dealing with tried to bribe you. What do you do?",
      "answers": [
        {
          "text": "Harshly reject them and charge them for bribery.",
          "response": {
            "Whiteout": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "Stare at the money or cigarettes or wine or whatever and go \"haHAHAHAhahaHAHAHAHA.\"",
          "response": {
            "Goose": 1,
            "Sky": 1
          }
        },
        {
          "text": "Take the money and do what they want.",
          "response": {
            "Paperweight": 1
          }
        },
        {
          "text": "Take the money and not do what they asked for anyways.",
          "response": {
            "Halcyon": 1
          }
        },
        {
          "text": "Look at them dumbfoundedly, not sure what to do.",
          "response": {
            "Pumpkin": 1,
            "Goose": 1
          }
        }
      ]
    },
    {
      "title": "A long-awaited day off! What are you going to do?",
      "answers": [
        {
          "text": "Sleep in bed all day.",
          "response": {
            "Pumpkin": 1
          }
        },
        {
          "text": "I spend it with people significant to me, as I rarely have time to keep them company.",
          "response": {
            "Whiteout": 1,
            "Halcyon": 1
          }
        },
        {
          "text": "I go back to work because I have no life outside of it.",
          "response": {
            "Goose": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "I spend the entire day playing video games late into the night and show up to work the next day with dark circles under my eyes.",
          "response": {
            "Sky": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "I'd go on a hike!",
          "response": {
            "Whiteout": 1,
            "Sky": 1
          }
        },
        {
          "text": "I'd go shopping!",
          "response": {
            "Sugarcane": 1,
            "Goose": 1
          }
        },
        {
          "text": "Spend all day contemplating life and why I ended up this way.",
          "response": {
            "Paperweight": 1,
            "Halcyon": 1
          }
        }
      ]
    },
    {
      "title": "Why did you join the MSS?",
      "answers": [
        {
          "text": "I literally had no choice.",
          "response": {
            "Paperweight": 1,
            "Pumpkin": 1
          }
        },
        {
          "text": "I wish to serve my country.",
          "response": {
            "Whiteout": 1,
            "Goose": 1,
            "Halcyon": 1,
            "Sugarcane": 1,
            "Sky": 1
          }
        },
        {
          "text": "It pays well.",
          "response": {
            "Paperweight": 1,
            "Goose": 1,
            "Pumpkin": 1,
            "Sky": 1
          }
        },
        {
          "text": "It makes me look cool in front of everyone else.",
          "response": {
            "Goose": 1,
            "Sky": 1,
            "Sugarcane": 1
          }
        }
      ]
    },
    {
      "title": "You and your team are about to kick the door of a suspect open. What would you do?",
      "answers": [
        {
          "text": "Yell \"Freeze! State security!\"",
          "response": {
            "Halcyon": 1,
            "Goose": 1,
            "Sky": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "Fire two warning shots (without making sure I didn't actually hit them).",
          "response": {
            "Goose": 2,
            "Sky": 1,
            "Paperweight": 1
          }
        },
        {
          "text": "I won't kick it down. I'd knock and ask politely, \"can you please turn around so we can handcuff you, thank you so much\"",
          "response": {
            "Pumpkin": 2,
            "Sky": 1
          }
        },
        {
          "text": "Just go in and get the job done, nothing stupid.",
          "response": {
            "Paperweight": 1,
            "Whiteout": 2
          }
        }
      ]
    },
    {
      "title": "You don't agree with your direct boss's decision making  — they're stupid at best, treason at worst. What do you do?",
      "answers": [
        {
          "text": "I follow anyways. I don't want to seem out of line.",
          "response": {
            "Pumpkin": 2,
            "Sugarcane": 1
          }
        },
        {
          "text": "I follow them. My boss must have their reasons, and I'm not about to disobey.",
          "response": {
            "Sugarcane": 2,
            "Pumpkin": 1,
            "Whiteout": 1
          }
        },
        {
          "text": "I'm already sending them to the cremation center.",
          "response": {
            "Goose": 1,
            "Sky": 1
          }
        },
        {
          "text": "I disobey direct orders and go rogue — I wouldn't do things harmful to my country.",
          "response": {
            "Paperweight": 1,
            "Whiteout": 1
          }
        },
        {
          "text": "I'd try to find out whether they are indeed a spy — and join them!",
          "response": {
            "Halcyon": 2
          }
        },
        {
          "text": "I yell at them in the office while everyone's watching.",
          "response": {
            "Paperweight": 2,
            "Goose": 1
          }
        }
      ]
    },
    {
      "title": "You found out your direct boss is a mole! A traitor! What do you do?",
      "randomize": false,
      "answers": [
        {
          "text": "Report to your boss's boss.",
          "response": {
            "Pumpkin": 3
          }
        },
        {
          "text": "Tie them up and send them to the nearest cremation center.",
          "response": {
            "Goose": 2,
            "Sky": 1
          }
        },
        {
          "text": "What on earth are the previous two options; I'd collect concrete evidence first.",
          "response": {
            "Paperweight": 2,
            "Whiteout": 2,
            "Sky": 1
          }
        },
        {
          "text": "I AM the spy.",
          "response": {
            "Halcyon": 2
          }
        },
        {
          "text": "I will not disobey orders. If they are indeed a spy, their superiors will punish them.",
          "response": {
            "Sugarcane": 2,
            "Pumpkin": 1
          }
        }
      ]
    },
    {
      "title": "Would you eat at the MSS cafeteria?",
      "randomize": false,
      "answers": [
        {
          "text": "It ok, it good!",
          "response": {
            "Goose": 1,
            "Halcyon": 1,
            "Sugarcane": 1,
            "Whiteout": 1
          }
        },
        {
          "text": "No, it poison!",
          "response": {
            "Paperweight": 1,
            "Pumpkin": 1,
            "Sky": 1
          }
        }
      ]
    },
    {
      "title": "What's your opinion on young people?",
      "randomize": false,
      "answers": [
        {
          "text": "I HATE young people!!!",
          "response": {
            "Paperweight": 2
          }
        },
        {
          "text": "I AM young people.",
          "response": {
            "Goose": 1,
            "Pumpkin": 1,
            "Sky": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "I make them do the work I don't wanna do, and they can't complain because they want promotions.",
          "response": {
            "Halcyon": 1,
            "Paperweight": 1
          }
        },
        {
          "text": "They will ruin the Ministry. They will ruin the country. They're gonna get us all killed.",
          "response": {
            "Paperweight": 2
          }
        },
        {
          "text": "They are the future of the country. I place great hope and expectations in them, and I would do my best to guide them.",
          "response": {
            "Whiteout": 2,
            "Goose": 1,
            "Sky": 1
          }
        }
      ]
    },
    {
      "title": "What do you do about enemy agents who refuse to talk during an interrogation?",
      "randomize": false,
      "answers": [
        {
          "text": "If I'm nice enough they would open up to me!",
          "response": {
            "Pumpkin": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "I play good-cop bad-cop with whoever chose the \"be nice\" option.",
          "response": {
            "Goose": 1,
            "Halcyon": 1,
            "Sky": 1
          }
        },
        {
          "text": "Nothing beats a little blackmail.",
          "response": {
            "Sky": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "Torture torture go go go",
          "response": {
            "Goose": 2
          }
        },
        {
          "text": "Refuse to talk? They all wet their pants when they see me! They tell me everything from who they work for to what they ate for breakfast when I don't even ask! nobody \"refuses to talk\" to me!",
          "response": {
            "Paperweight": 1,
            "Whiteout": 1
          }
        }
      ]
    },
    {
      "title": "Your agent betrayed you and started working for the enemy. What do you do?",
      "answers": [
        {
          "text": "*muffled scream* *gunshot* \"okay, they're dealt with.\"",
          "response": {
            "Goose": 2,
            "Sky": 1
          }
        },
        {
          "text": "They must've been blackmailed into it. I can help them!",
          "response": {
            "Pumpkin": 2
          }
        },
        {
          "text": "I start feeding them false information that they'd pass to their new bosses.",
          "response": {
            "Paperweight": 1,
            "Sky": 1
          }
        },
        {
          "text": "I cut ties completely. Who are you? Do I know you? Don't talk to me.",
          "response": {
            "Halcyon": 1
          }
        },
        {
          "text": "I report back to my boss and await proper orders.",
          "response": {
            "Whiteout": 1,
            "Sugarcane": 1
          }
        }
      ]
    },
    {
      "title": "They never told you secret police work involves so much paperwork…",
      "answers": [
        {
          "text": "I use ChatGPT",
          "response": {
            "Goose": 1,
            "Sky": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "I give this work to my apprentices dreaming of promotions.",
          "response": {
            "Paperweight": 1,
            "Halcyon": 1
          }
        },
        {
          "text": "I can handle it.",
          "response": {
            "Halcyon": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "I CAN'T HANDLE THIS.",
          "response": {
            "Pumpkin": 2,
            "Sky": 1
          }
        },
        {
          "text": "I work diligently, to the best of my ability.",
          "response": {
            "Whiteout": 1,
            "Pumpkin": 1,
            "Sugarcane": 1
          }
        }
      ]
    },
    {
      "title": "Your alarm didn't go off and now you're late for work. What do you do?",
      "answers": [
        {
          "text": "I rush over, and upon arrival I notice I'm still wearing slippers.",
          "response": {
            "Pumpkin": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "I call in sick.",
          "response": {
            "Paperweight": 1,
            "Sky": 1
          }
        },
        {
          "text": "I still spend a bunch of time on makeup like I always do and arrive even later.",
          "response": {
            "Goose": 1,
            "Sky": 1
          }
        },
        {
          "text": "I apologize profusely and work extra hard that day.",
          "response": {
            "Whiteout": 1,
            "Halcyon": 1
          }
        }
      ]
    },
    {
      "title": "An enemy organization offered you triple salary to defect. What would you do?",
      "answers": [
        {
          "text": "Moreland, here I come! Hang on it's Westavia?? Never mind.",
          "response": {
            "Halcyon": 1
          }
        },
        {
          "text": "No fucking way!",
          "response": {
            "Goose": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "Maybe with more money…",
          "response": {
            "Whiteout": 1,
            "Sky": 1,
            "Paperweight": 1
          }
        },
        {
          "text": "You don't even need to offer me money to convince me.",
          "response": {
            "Halcyon": 1
          }
        },
        {
          "text": "I would like to, but I'm scared of what they're gonna do to me if they find out.",
          "response": {
            "Pumpkin": 1,
            "Sky": 1
          }
        }
      ]
    },
    {
      "title": "Your childhood friend is accused of treason.",
      "answers": [
        {
          "text": "I trust the authorities to know what they're doing.",
          "response": {
            "Sugarcane": 2
          }
        },
        {
          "text": "They must be wrong. My friend would never do it! I have to help them!",
          "response": {
            "Pumpkin": 1,
            "Sky": 1
          }
        },
        {
          "text": "Time to grab them and flee the country.",
          "response": {
            "Whiteout": 1,
            "Halcyon": 1
          }
        },
        {
          "text": "I would confront my friend myself to figure out the truth.",
          "response": {
            "Goose": 1,
            "Sky": 1
          }
        },
        {
          "text": "Friend? What's that?",
          "response": {
            "Paperweight": 1
          }
        }
      ]
    },
    {
      "title": "You got assigned a tailing (following people around) shift on the same day as the birthday of someone significant to you. No one else can take your place. What do you do?",
      "answers": [
        {
          "text": "I go on the shift, apologize to the significant person, and promise to make it up somehow.",
          "response": {
            "Pumpkin": 1,
            "Whiteout": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "I don't have anyone significant to me alive.",
          "response": {
            "Paperweight": 1
          }
        },
        {
          "text": "I take the significant person on the shift with me.",
          "response": {
            "Goose": 1
          }
        },
        {
          "text": "I cook up an elaborate plan to do both things at once.",
          "response": {
            "Halcyon": 1,
            "Whiteout": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "I simply don't do the shift, go celebrate the birthday, and fake a report later.",
          "response": {
            "Goose": 1,
            "Sky": 1
          }
        }
      ]
    },
    {
      "title": "Who among these people do you think are spies?",
      "multi": true,
      "randomize": false,
      "addNoneAbove": true,
      "answers": [
        {
          "text": "A middle-aged person, married with 3 kids, 2 cats, and 1 dog. Lives in the suburbs close to a military base.",
          "response": {
            "Goose": 1,
            "Halcyon": 1
          }
        },
        {
          "text": "A college student active in leftist spaces.",
          "response": {
            "Goose": 1,
            "Whiteout": 1
          }
        },
        {
          "text": "A homosexual person with no further context.",
          "response": {
            "Goose": 1,
            "Paperweight": 1
          }
        },
        {
          "text": "A young child living with a diplomat parent.",
          "response": {
            "Goose": 1,
            "Sky": 1
          }
        },
        {
          "text": "The diplomat parent of said young child",
          "response": {
            "Goose": 2
          }
        },
        {
          "text": "A person who openly expresses anti-government sentiment.",
          "response": {
            "Sugarcane": 1,
            "Goose": 1
          }
        },
        {
          "text": "A person with family in an enemy state.",
          "response": {
            "Pumpkin": 1,
            "Goose": 1
          }
        },
        {
          "text": "A middle-aged young homosexual college student with family in an enemy state, married with 3 kids, 2 cats, and 1 dog living next to a military base with their diplomat parent while also being a diplomat parent of one young child and are active in leftist spaces while openly expressing anti-government sentiment, with no further context.",
          "response": {}
        }
      ]
    },
    {
      "title": "Finally, do you like your job???",
      "answers": [
        {
          "text": "I am a vessel for violence. I am oppression personified. I am not human inside this uniform. My heart is made of lead. If I died the world would be a better place.",
          "response": {
            "Halcyon": 1
          }
        },
        {
          "text": "I got a cool uniform and a cool baton! I am so cool! *generic excited noises*",
          "response": {
            "Goose": 1
          }
        },
        {
          "text": "I feel so scared of screwing up, yet I wanna do well and have those important people recognize me!",
          "response": {
            "Pumpkin": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "It's just a job. What more is there to it? I'm retiring next year.",
          "response": {
            "Sky": 1,
            "Paperweight": 1
          }
        },
        {
          "text": "I'm okay with it.",
          "response": {
            "Goose": 1,
            "Pumpkin": 1,
            "Sky": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "I'd rather be a Youtuber instead.",
          "response": {
            "Pumpkin": 1,
            "Halcyon": 1,
            "Sky": 1
          }
        },
        {
          "text": "I have a responsibility for my fellow citizens. I am granted with power meant to protect and serve. I will not let them down.",
          "response": {
            "Whiteout": 2
          }
        },
        {
          "text": "It's only useful when I can provide secrets to the country with which my true loyalties lie.",
          "response": {
            "Halcyon": 2
          }
        },
        {
          "text": "This is the most amazing thing ever. I am more than human in this uniform. I represent order. I AM THE LAW.",
          "response": {
            "Goose": 2
          }
        },
        {
          "text": "I used to. But now I regret it.",
          "response": {
            "Paperweight": 1,
            "Whiteout": 1
          }
        }
      ]
    }
  ]
};
let quiz = new Quiz(document.getElementById('quiz'), quizContent);
quiz.init();
</script>
