---
layout: article.liquid
title: MSS Personality Quiz
desc: Which MSS character are you?
tags: fun
eleventyNavigation:
  parent: Fun
---
<style>
  .question ul {
    list-style: none;
    padding-inline-start: 2em;
    &>li {
      margin: 0;
    }
    & label {
      cursor: pointer;
      display: block;
      border-radius: 1em;
      padding: .2em 1em;
      &:hover {
        background-color: var(--box);
      }
    }
  }
  .question ol {
    padding-inline-start: 2em;
  }
</style>
<div id="quiz"></div>
<script src="/js/quiz.js"></script>
<script>
const quizContent = {
  "desc": "The Ministry of State Security, widely feared and revered by the citizens of Bauhinia. Who will you be among its ranks? The ruthless spymaster, the hapless scapegoat, or the brainwashed patriot? Find out below!",
  "randomize": true,
  "results": {
    "Paperweight": {
      "url": "../../characters/paperweight/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'paperweight profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You're old and retiring. You are disgraced. You fucked up your entire life and now you're a grouchy old guy who hates children (based) and fun (less based)."
    },
    "Goose": {
      "url": "../../characters/goose/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'goose profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You're the freak. A freak who likes torturing people. You're a goofy villain. You're a bag of paranoia about to explode. Or did you already explode?"
    },
    "Pumpkin": {
      "url": "../../characters/pumpkin/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'pumpkin profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You are a cute goofy guy. You follow orders. You will get murdered later (you lived though because you rock and I didn't want to kill you off)."
    },
    "Halcyon": {
      "url": "../../characters/halcyon/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'halcyon profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You're the only one in the team who actually works. But you hate your job. You want your magic back. Good thing you're a spy."
    },
    "Whiteout": {
      "url": "../../characters/whiteout/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'whiteout profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You're like, currently the oldest character in TIR. You are cold and emotionless, but underneath the mask, you care for your colleagues a lot. You have no idea what milk tea is and that's a tragedy considering it's a very traditional Westavian drink (not that you like the Westavians, but still)."
    },
    "Sky": {
      "url": "../../characters/sky/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'sky profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You made it into the MSS and that's all because Sparky couldn't let go of that nuke. Thank her. You soon proved yourself to be an amazing officer, though you left the field right after to surround yourself with stupid children."
    },
    "Sugarcane": {
      "url": "../../characters/sugarcane/",
      "img": "{% capture url %}{% imageUrl 'gallery/' 'sugarcane profile' 'png' 500 %}{% endcapture %}{{ url | htmlBaseUrl }}",
      "desc": "You are <em>completely</em> brainwashed. You betrayed your friend, and you betrayed yourself. Like, I don't know if anyone can change you back now, but perhaps that's for the better."
    }
  },
  "questions": [
    {
      "title": "Oh, look, a milk tea shop!",
      "answers": [
        {
          "text": "No ice, hot, extra boba",
          "response": {
            "Goose": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "Ice, extra large, extra boba",
          "response": {
            "Pumpkin": 1,
            "Sky": 1
          }
        },
        {
          "text": "Eeeewww, it's gonna make me gain weight.",
          "response": {
            "Halcyon": 1
          }
        },
        {
          "text": "Milk tea? Blow this place up.",
          "response": {
            "Paperweight": 1
          }
        },
        {
          "text": "What is this I've genuinely never heard of it",
          "response": {
            "Whiteout": 1
          }
        }
      ]
    },
    {
      "title": "You were doing a routine bugging job (installing listening devices) at someones apartment. Nut they came home and saw you! what do you do?",
      "answers": [
        {
          "text": "Jump out the window.",
          "response": {
            "Pumpkin": 1
          }
        },
        {
          "text": "Beat them up with your trusty baton.",
          "response": {
            "Goose": 2,
            "Whiteout": 1
          }
        },
        {
          "text": "Go \"you're arrested!\" even though you have 0 authority to arrest them.",
          "response": {
            "Sky": 2,
            "Halcyon": 1
          }
        },
        {
          "text": "Threaten them not to tell anyone, finish bugging (while they're still watching) and leave like everything's normal.",
          "response": {
            "Paperweight": 2,
            "Sugarcane": 1
          }
        },
        {
          "text": "Hide the bug in your pocket and go \"Heeeeey there darling, go make me a cup of tea would you?\"",
          "response": {
            "Sky": 2,
            "Goose": 1
          }
        }
      ]
    },
    {
      "title": "You and your team are about to kick the door of a suspect open. What would you do?",
      "answers": [
        {
          "text": "Yell \"Freeze! State security!\"",
          "response": {
            "Halcyon": 1,
            "Goose": 1,
            "Sky": 1,
            "Sugarcane": 1
          }
        },
        {
          "text": "Fire two warning shots (without making sure I didn't actually hit them).",
          "response": {
            "Goose": 2,
            "Sky": 1,
            "Paperweight": 1
          }
        },
        {
          "text": "I won't kick it down. I'd knock and ask politely, \"can you please turn around so we can handcuff you, thank you so much/\"",
          "response": {
            "Pumpkin": 2,
            "Sky": 1
          }
        },
        {
          "text": "Just go in and get the job done, nothing stupid.",
          "response": {
            "Paperweight": 1,
            "Whiteout": 2
          }
        }
      ]
    },
    {
      "title": "You don't agree with your direct boss's decision making  — they're stupid at best, treason at worst. What do you do?",
      "answers": [
        {
          "text": "I follow anyways. I don't want to seem out of line.",
          "response": {
            "Pumpkin": 2,
            "Sugarcane": 1
          }
        },
        {
          "text": "I follow them. My boss must have their reasons, and I'm not about to disobey.",
          "response": {
            "Sugarcane": 2,
            "Pumpkin": 1,
            "Whiteout": 1
          }
        },
        {
          "text": "I'm already sending them to the cremation center.",
          "response": {
            "Goose": 1,
            "Sky": 1
          }
        },
        {
          "text": "I disobey direct orders and go rogue — I wouldn't do things harmful to my country.",
          "response": {
            "Paperweight": 1,
            "Whiteout": 1
          }
        },
        {
          "text": "I'd try to find out whether they are indeed a spy — and join them!",
          "response": {
            "Halcyon": 2
          }
        },
        {
          "text": "I yell at them in the office while everyone's watching.",
          "response": {
            "Paperweight": 2,
            "Goose": 1
          }
        }
      ]
    },
    {
      "title": "Who among these people do you think are spies?",
      "multi": true,
      "randomize": false,
      "answers": [
        {
          "text": "A middle-aged person, married with 3 kids, 2 cats, and 1 dog. Lives in the suburbs close to a military base.",
          "response": {
            "Goose": 1,
            "Halcyon": 1
          }
        },
        {
          "text": "A college student active in leftist spaces.",
          "response": {
            "Goose": 1,
            "Whiteout": 1
          }
        },
        {
          "text": "Some homosexual person.",
          "response": {
            "Goose": 1,
            "Paperweight": 1
          }
        },
        {
          "text": "A young child living with a diplomat parent.",
          "response": {
            "Goose": 1,
            "Sky": 1
          }
        },
        {
          "text": "The diplomat parent of said young child",
          "response": {
            "Goose": 2
          }
        },
        {
          "text": "A person who openly expresses anti-government sentiment.",
          "response": {
            "Sugarcane": 1,
            "Goose": 1
          }
        },
        {
          "text": "A person with family in an enemy state.",
          "response": {
            "Pumpkin": 1,
            "Goose": 1
          }
        },
        {
          "text": "A middle-aged young homosexual college student with family in an enemy state, married with 3 kids, 2 cats, and 1 dog living with their diplomat parent while also being a diplomat themselves and are active in leftist spaces while openly expressing anti-government sentiment.",
          "response": {}
        }
      ]
    }
  ]
}
let quiz = new Quiz(document.getElementById('quiz'), quizContent);
quiz.init();
</script>
