---
layout: layout.liquid
pagination:
  data: characters
  size: 1
  alias: ch
  addAllPagesToCollections: true
permalink: "characters/{{ pagination.items[0].name | lowerCase }}/"
eleventyComputed:
  title: "{{ pagination.items[0].name }}"
  desc: "{{ ch.desc }}"
---


{% if ch.darkcolor %}
	<style>
	.attr > div > div:first-child, .prev-next a, .desc h1, .desc h2, .desc h3, .desc a {
		text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff;
	}
	</style>
{% endif %}
<a id="back" href="../"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="square" stroke-linejoin="miter"><path d="m15 18-6-6 6-6"/></svg> Back</a>
<div class="desc" style="--c: {{ ch.color }};">
	<div class="left-side">
		<div class="title">
			{% assign bruhhh = ch.name | lowerCase | append: " thumb.png" %}
			{% imageOrig "gallery/" bruhhh "" %}
			<div class="title-info">
				<h1 id="name">{{ ch.name }}</h1>
				{% if ch.namezh %}<h1 id="name-zh">{{ ch.namezh }}</h1>{% endif %}
				{% if ch.desc %}
					<p>{{ ch.desc }}</p>
				{% endif %}
			</div>
		</div>
		{% if ch.attr %}
			<h2 id="info">Info <a class="collapsible tooltip" target="#infocollapse"><span class="tooltip-text">Click for more</span> <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-help"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg></a></h2>
			<div id="infocollapse" class="collapsible-content">
				{% renderFile './characters/characterinfo.md' %}
			</div>
			<div class="attr">
				{% for att in ch.attr %}
					<div>
						<div>{{ att[0] }}</div>
						<div>{{ att[1] }}</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="right-side">
		{% if ch.quote %}
			<p class="quote">{{ ch.quote }}</p>
		{% endif %}
		{% if ch.about %}
			<h2 id="about">About</h2>
			{% assign firstFourLetters = ch.about | slice: 0, 4 %}
			{% if firstFourLetters == 'file' %}
				{% assign fileName = ch.abbr | append: " about.md" %}
				{% assign filePath = './characters/files/' | append: fileName %}
				{% renderFile filePath %}
			{% else %}
				{{ ch.about | renderMD }}
			{% endif %}
		{% endif %}
		{% if ch.bio %}
			<h2 id="bio">Biography</h2>
			{% assign firstFourLetters = ch.bio | slice: 0, 4 %}
			{% if firstFourLetters == 'file' %}
				{% assign fileName = ch.abbr | append: " bio.md" %}
				{% assign filePath = './characters/files/' | append: fileName %}
				{% renderFile filePath %}
			{% else %}
				{{ ch.bio | renderMD }}
			{% endif %}
		{% endif %}
		{% assign filteredRelations = relationships | filterRelations: ch.name %}
		{% if filteredRelations.size > 0 %}
			<h2 id="relations">Relationships</h2>
			{% for rel in filteredRelations %}
				{% assign otherCh = rel | getOtherCh: ch.name %}
				<h3><a class="rel-h3" style="--c: {{ characters | getChColor: otherCh }}" href="../{{ otherCh | lowerCase }}/">{{ otherCh }}</a></h3>
				{{ rel.desc | renderMD }}
			{% endfor %}
		{% endif %}
		{% assign filteredGallery = gallery | filterGallery: ch.name %}
		{% if filteredGallery.size > 0 %}
			<h2 id="design">Gallery</h2>
			<div class="palette">
				<div style="background-color:{{ ch.color }}">
					<div>
						<span>{{ ch.color }}</span>
						<span>accent</span>
					</div>
				</div>
				{% for p in ch.palette %}
					<div style="background-color:{{ p[1] }}">
						<div>
							<span>{{ p[1] | upperCase }}</span>
							<span>{{ p[0] }}</span>
						</div>
					</div>
				{% endfor %}
			</div>
			{% include 'gallery' imgs: filteredGallery %}
		{% endif %}
		<h2 id="perms">Drawing Permissions <a class="collapsible tooltip" target="#permscollapse"><span class="tooltip-text">Click for more</span> <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-help"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg></a></h2>
		<div id="permscollapse" class="collapsible-content">
			<p>(Nearly identical to my <a href="https://artfight.net/~Tofutush/characters">Artfight</a> permissions anyways.)</p>
			{% if ch.note %}
				<h3>Character Permissions</h3>
				{% assign firstFiveLetters = ch.note | slice: 0, 5 %}
				{% if firstFiveLetters == 'file:' %}
					{% assign fileName = ch.note | slice: 5 %}
					{% assign filePath = './characters/files/' | append: fileName %}
					{% renderFile filePath %}
				{% else %}
					{{ ch.note | renderMD }}
				{% endif %}
				<h3>Global Permissions</h3>
			{% endif %}
			{% renderFile './characters/files/globalperms.md' %}
		</div>
	</div>
</div>
<div class="prev-next" style="--c: {{ ch.color }};">
	<a href="{{ pagination.previous }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="square" stroke-linejoin="miter"><path d="m15 18-6-6 6-6"/></svg> prev</a>
	<a href="{{ pagination.next }}">next <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="square" stroke-linejoin="miter"><path d="m9 18 6-6-6-6"/></svg></a>
</div>
<script src="/js/gallery.js"></script>
<script src="/js/palette.js"></script>
<script src="/js/collapsible.js"></script>