---
layout: layout.liquid
pagination:
  data: characters
  size: 1
permalink: "characters/{{ pagination.items[0].name}}/"
eleventyComputed:
  title: "{{ pagination.items[0].name }}"
---

<a id="back" href="../"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="square" stroke-linejoin="miter"><path d="m15 18-6-6 6-6"/></svg> Back</a>
<div class="desc" id="sparky" style="--c: {{ pagination.items[0].color }};">
	<h1>{{ pagination.items[0].name }}</h1>
	<p class="quote">{{ pagination.items[0].quote }}</p>
	<h2>Reference</h2>
	<img src="/img/characters/turn/{{ pagination.items[0].name | lowerCase }}.png"/>
	<img src="/img/characters/exp/{{ pagination.items[0].name | lowerCase }}.png"/>
</div>