---
layout: layout.liquid
title: Characters
---

{% assign sparky = characters | getChByName: "Sparky" %}
<div class="chs">
	<div>
		<div class="ch">
			<a href="{{ sparky.name | lowerCase }}/">
				{% comment %} <img src="/img/gallery/{{ sparky.name | lowerCase }} thumb.png"/> {% endcomment %}
				{% image "img/gallery/" "sparky thumb" "png" 200 "" %}
			</a>
		</div>
		<a style="--c: {{ sparky.color }}" href="{{ sparky.name | lowerCase }}/">{{ sparky.name }}</a>
	</div>
</div>

{% for category in categories %}
	{% assign cat = characters | getChByCat: category %}
	<h1>{{ category }}</h1>
	<div class="chs">
	{% for ch in cat %}
		{% if ch.hidden != true %}
			<div>
				<div class="ch">
					<a href="{{ ch.name | lowerCase }}/">
						{% comment %} <img src="/img/gallery/{{ ch.name | lowerCase }} thumb.png"/> {% endcomment %}
						 {% assign bruhhh = ch.name | append: " thumb" %}
						{% image "img/gallery/" bruhhh "png" 200 "" %}
					</a>
				</div>
				<a style="--c: {{ ch.color }}" href="{{ ch.name | lowerCase }}/">{{ ch.name }}</a>
			</div>
		{% endif %}
	{% endfor %}
	</div>
{% endfor %}