---
layout: layout.liquid
desc: Archive
permalink: "stories/{{ parent | slug }}/archive/"
eleventyComputed:
  title: "{{ comicTitle }} comic - archive"
  eleventyNavigation:
    key: "{{ comicTitle }} comic - archive"
    title: "Archive"
    parent: "{{ parent }}"
---
<h1>{{ comicTitle }} Archive</h1>
{% for page in comicData[dataName] %}
	<a href="../page-{{ page.pagenum }}">
		{% assign bruhhh = page.url | append: '.png' %}
		{% assign alt = "Page " | append: page.pagenum %}
		{% image "comics/" bruhhh 200 alt %}
	</a>
{% endfor %}
