---
layout: layout.liquid
desc: Archive
permalink: "stories/{{ comicTitle | slug }}/archive/"
eleventyComputed:
  title: "{{ comicTitle }} - archive"
  navTitle: Archive
  parent: "{{ comicTitle }}"
  eleventyNavigation:
    order: 0
---
<style>
	.archive {
		display: flex;
		flex-wrap: wrap;
		gap: .5em;
		& img {
			height: 6em;
			width: 6em;
			object-fit: cover;
		}
	}
</style>
<h1>{{ comicTitle }} Archive</h1>
{% if multiChapter %}
	{% assign grouped = comicData[dataName] | groupByChapter %}
	{% for group in grouped %}
		{% if group.pages[0].title %}
			<h2>{{ group.pages[0].title }}</h2>
		{% else %}
			<h2>Chapter {{ group.chapter }}</h2>
		{% endif %}
		<div class="archive">
			{% for page in group.pages %}
			<a href="../{{ page.pagenum }}/">
				{% if page.url.first %}
					{% assign p = page.url[0] %}
				{% else %}
					{% assign p = page.url %}
				{% endif %}
				{% assign path = "comics/" | append: p | append: '.png' %}
				{% if page.alt %}
					{% assign alt = page.alt %}
				{% else %}
					{% assign alt = "Page " | append: page.pagenum %}
				{% endif %}
				{% image path 100 alt %}
			</a>
			{% endfor %}
		</div>
	{% endfor %}
{% else %}
	<div class="archive">
		{% for page in comicData[dataName] %}
			<a href="../{{ page.pagenum }}/">
				{% assign path = "comics/" | append: page.url | append: '.png' %}
				{% assign alt = "Page " | append: page.pagenum %}
				{% image path 100 alt %}
			</a>
		{% endfor %}
	</div>
{% endif %}