---
layout: layout.liquid
desc: Archive
permalink: "stories/{{ parent | slug }}/archive/"
eleventyComputed:
  title: "{{ comicTitle }} comic - archive"
  eleventyNavigation:
    title: "Archive"
    parent: "{{ parent }}"
---
<style>
	.archive {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		gap: .5em;
	}
</style>
<h1>{{ comicTitle }} Archive</h1>
{% if multiChapter %}
	{% assign grouped = comicData[dataName] | groupByChapter %}
	{% for group in grouped %}
	<h2>Chapter {{ group.chapter }}</h2>
	<div class="archive">
		{% for page in group.pages %}
		<a href="../page-{{ page.pagenum }}/">
			{% assign bruhhh = page.url | append: '.png' %}
			{% assign alt = "Page " | append: page.pagenum %}
			{% image "comics/" bruhhh 100 alt %}
		</a>
		{% endfor %}
	</div>
	{% endfor %}
{% else %}
	<div class="archive">
		{% for page in comicData[dataName] %}
			<a href="../page-{{ page.pagenum }}/">
				{% assign bruhhh = page.url | append: '.png' %}
				{% assign alt = "Page " | append: page.pagenum %}
				{% image "comics/" bruhhh 100 alt %}
			</a>
		{% endfor %}
	</div>
{% endif %}
