---
layout: layout.liquid
pagination:
  size: 1
  addAllPagesToCollections: true
  alias: comic
noFooterImage: true
noNav: true
permalink: "stories/{{ parent | slug }}/page-{{ comic.pagenum }}/"
eleventyComputed:
  title: "{{ comicTitle }} comic - page {{ comic.pagenum }}"
  siteTheme: "{% if comic.theme %}{{ comic.theme }}{% elsif siteTheme %}{{ siteTheme }}{% endif %}"
---
<link rel="stylesheet" href="/css/comic.css"/>
{% if comic.bg %}
	<style>
		body {
			background-image: url({{ '/img/bg/' | append: comic.bg | append: '.png' | htmlBaseUrl }});
			background-attachment: fixed;
			background-position: center;
			background-size: cover;
		}
		main {
			box-shadow: none;
			background-color: #0000;
			margin: 0 auto;
		}
	</style>
{% endif %}
<div class="breadcrumbs"><a href="/stories/">Stories</a> {% lucide 'chevron-right' %} <a href="../">{{ parent }}</a>{% lucide 'chevron-right' %}<a href="{{ page.url }}">Page {{ comic.pagenum }}</a></div>
{% include 'arrows', f: pagination.href.first, p: pagination.href.previous, n: pagination.href.next, l: pagination.href.last, num: comic.pagenum, top: true %}
<div id="img">
	{% assign alt = "Page " | append: comic.pagenum %}
	{% image "comics/" comic.url 'png' 1000 alt %}
</div>
{% if comic.content %}
	<link rel="stylesheet" href="/css/dialog.css"/>
	{% include 'dialog', dialogContent: comic.content %}
{% endif %}
{% include 'arrows', f: pagination.href.first, p: pagination.href.previous, n: pagination.href.next, l: pagination.href.last, num: comic.pagenum %}
<div id="date-save">
	<p>{{ comic.date }}</p>
	<div id="save">
		<a title="Save" onclick="save()">{% lucide 'arrow-down-from-line' %}</a>
		<a title="Load" onclick="load()">{% lucide 'arrow-up-from-line' %}</a>
		{% if archive %}<a title="Archive" href="../archive/">{% lucide 'list' %}</a>{% endif %}
	</div>
</div>
{% if comic.note %}
	<div id="note" class="graybox">{{ comic.note | renderMD }}</div>
{% endif %}
<script>
	// save
	function save() {
		localStorage.setItem('{{ comicTitle }} place', {{ comic.pagenum }});
		alert(`Page {{ comic.pagenum }} saved!`);
	}
	function load() {
		let place = localStorage.getItem('{{ comicTitle }} place');
		if(place !== undefined) window.open(`../page-${place}/#img`, '_self');
		else alert('no place was saved!');
	}
</script>