---
navOptions:
  includeSelf: true
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
---
<!doctype html>
{% assign siteTheme = siteTheme | default: false %}
<html lang="en" class="{% if siteTheme %}{{ siteTheme }}{% else %}light{% endif %}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ desc }}" >
	<meta name="author" content="Tofutush">
	<meta name="theme-color" content="#e56b6f" />
	<meta property="og:title" content="{% if page.url != '/' %}{{ title }} | {% endif %}The Iron Ragdoll">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://raw.githubusercontent.com/Tofutush/The-Iron-Ragdoll/refs/heads/main/img/bg/embed.png">
	<meta property="og:site_name" content="The Iron Ragdoll">
	<meta property="og:description" content="{{ desc }}">
	<title>{% if page.url != '/' %}{{ title }} | {% endif %}The Iron Ragdoll</title>
	{% unless siteTheme %}
		<script>
			(function () {
				let lightDark = parseInt(localStorage.getItem('light-dark'));
				if (lightDark === 0) document.documentElement.className = 'dark';
				if (lightDark === 1) document.documentElement.className = 'light';
			})();
		</script>
	{% endunless %}
	<link rel="stylesheet" href="/css/style.css"/>
	<link rel="stylesheet" href="/css/callout.css"/>
	<link rel="stylesheet" href="/css/linkcolor.css"/>
	<link rel="icon" href="/icon.ico"/>
	{% if widepage %}
		<style>
			main {
			max-width: 1200px;
			}
		</style>
	{% endif %}
</head>
<body>
	<header style="background-image: url({% capture url %}{% imageUrl 'gallery/' 'banner' 'png' 2000 %}{% endcapture %}{{ url | htmlBaseUrl }})"><a href="/"></a></header>
	<nav>
		<a href="#top">(Top)</a>
		<a href="/about/">About</a>
		<a href="/characters/">Characters</a>
		<a href="/stories/">Stories</a>
		<a href="/world/">World</a>
		<a href="/gallery/2025/">Gallery</a>
		<a href="/changelog/">Updates</a>
	</nav>
	<main>
		{% unless noNav %}
			{% if navTitle %}
				{% assign bc = collections.all | eleventyNavigationBreadcrumb: navTitle, navOptions %}
			{% else %}
				{% assign bc = collections.all | eleventyNavigationBreadcrumb: title, navOptions %}
			{% endif %}
			{% assign length = bc | size %}
			{% if length > 2 %}
				<div class="breadcrumbs">
					{% for item in bc %}
					{% if forloop.index != 1 %}
						{% if forloop.index != 2 %}
							{% lucide 'chevron-right' %}
						{% endif %}
						<a href="{{ item.url }}">{{ item.title }}</a>
					{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		{% endunless %}
		{{ content }}
	</main>
	{% unless siteTheme and noFooterImage %}
		<footer>
			{% unless siteTheme %}
				<div class="theme-toggle">
					<div>
						{% lucide 'sun' %}
						{% lucide 'moon' %}
					</div>
				</div>
				<script>
					(function () {
						let toggle = document.querySelector('.theme-toggle');
						let lightDark = parseInt(localStorage.getItem('light-dark'));
						toggle.addEventListener('click', e => {
							if (lightDark === 0) {
								lightDark = 1;
								document.documentElement.className = 'light';
							} else {
								lightDark = 0;
								document.documentElement.className = 'dark';
							}
							localStorage.setItem('light-dark', lightDark);
						});
					})();
				</script>
			{% endunless %}
			{% unless noFooterImage %}
				{% assign footerimg = gallery | filterGalleryByKind: 'footer' | getFooterImg: title %}
				{% image 'gallery/' footerimg.name footerimg.type 500 footerimg.name 'footer-img' %}
			{% endunless %}
		</footer>
	{% endunless %}
	<div class="license">
		<p>The Iron Ragdoll by Tofutush is licensed under <a class="plain-link" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a></p>
		<p><a target="_blank" href="https://github.com/Tofutush/The-Iron-Ragdoll/blob/main/{{ page.inputPath }}">Page source</a> · <a target="_blank" href="https://web.archive.org/save/https://tofutush.github.io/The-Iron-Ragdoll{{ page.url }}">Archive this page</a></p>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.3.0/quicklink.umd.js"></script>
	<script>
		if(!window.location.href.includes('localhost')) {
			window.addEventListener('load', () => {
				quicklink.listen();
			});
		}
	</script>
</body>
</html>