---
layout: article.liquid
eleventyComputed:
  eleventyNavigation:
    parent: Stories
---
<style>
	#prev-next {
		display: flex;
		gap: 2em;
		flex-wrap: wrap;

		&>* {
			min-width: 200px;
			flex: 1;
		}
	}
</style>
<div class="attr">
	<p>Main Cast</p>
	<div class="tags">
		{% for ch in chs %}
			{% include 'chButton', ch: ch %}
		{% endfor %}
	</div>
	<p>Time period</p>
	<p>{{ time }}</p>
	<p>Complete</p>
	<p>{% if complete %}{% lucide 'check' %}{% else %}{% lucide 'x' %}{% endif %}</p>
	{% if myTags %}
		<p>Tags</p>
		<p>
			{% assign sortedTags = myTags | sortAlphabetical %}{% for tag in sortedTags %}{% if forloop.index != 1 %}, {% endif %}<a href="/stories/tag/{{ tag | slug }}/">{{ tag }}</a>{% endfor %}
		</p>
	{% endif %}
</div>

{% if comic or fic %}
	<div class="box-nav solid">
		{% if comic %}
			<a href="page-1/">Read the comic!</a>
		{% endif %}
		{% if fic %}
			<a href="chapter-1/">Read the fic!</a>
		{% endif %}
	</div>
{% endif %}

{{ content }}

{% assign next = collections.stories | getNextStories: title %}
{% if prev or next.size != 0 %}
	<hr/>
	<section id="prev-next">
		{% if prev %}
			<div class="graybox">
				<h4>Previous</h4>
				<ul class="smaller-text">
					{% for s in prev %}
						<li><a href="{{ s | getUrlFromLink }}">{{ s | getNameFromLink }}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% if next.size != 0 %}
			<div class="graybox">
				<h4>Next</h4>
				<ul class="smaller-text">
					{% for s in next %}
						<li><a href="{{ s.url }}">{{ s.data.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</section>
{% endif %}
