---
layout: article.liquid
eleventyComputed:
  eleventyNavigation:
    parent: Stories
---
<div class="attr">
	<p>Main Cast</p>
	<div class="tags">
		{% for ch in chs %}
			{% include 'chButton', ch: ch %}
		{% endfor %}
	</div>
	<p>Time period</p>
	<p>{{ time }}</p>
	{% if myTags %}
		<p>Tags</p>
		<p>
			{% assign sortedTags = myTags | sortAlphabetical %}{% for tag in sortedTags %}{% if forloop.index != 1 %}, {% endif %}<a href="/stories/tag/{{ tag | slug }}/">{{ tag }}</a>{% endfor %}
		</p>
	{% endif %}
</div>
{% if comic or fic %}
	<div class="box-nav solid">
		{% if comic %}
			<a href="page-1/">Read the comic!</a>
		{% endif %}
		{% if fic %}
			<a href="chapter-1/">Read the fic!</a>
		{% endif %}
	</div>
{% endif %}

{% if prev %}
	<h2>Previous</h2>
	<ul>
		{% for s in prev %}
			<li><a href="{{ s | getUrlFromLink }}">{{ s | getNameFromLink }}</a></li>
		{% endfor %}
	</ul>
	<hr/>
{% endif %}

{{ content }}

{% assign next = collections.stories | getNextStories: title %}
{% if next.size != 0 %}
	<hr/>
	<h2>Next</h2>
	<ul>
		{% for s in next %}
			<li><a href="{{ s.url }}">{{ s.data.title }}</a></li>
		{% endfor %}
	</ul>
{% endif %}
