---
layout: article.liquid
---
<style>#related ul { font-size: var(--font-size-small); }</style>
{% if categories %}
<p class="smaller-text lighter-text">Categories: {% assign sortedCats = categories | sortAlphabetical %}{% for cat in sortedCats %}{% if forloop.index != 1 %}, {% endif %}<a href="/world/category/{{ cat | slug }}/">{{ cat }}</a>{% endfor %}</p>
{% endif %}
{{ content }}
{% capture related %}{{ collections.all | eleventyNavigation: title }}{% endcapture %}
{% if related.size != 0 %}
    <hr/>
    <div id="related" class="graybox">
        <h4>Related files</h4>
        {{ collections.all | eleventyNavigation: title | eleventyNavigationToHtml }}
    </div>
{% endif %}
