---
navOptions:
  includeSelf: true
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ desc }}" >
  <meta name="author" content="Tofutush">
  <meta name="theme-color" content="#e56b6f" />
  <meta property="og:title" content="{% if page.url != '/' %}{{ title }} | {% endif %}The Iron Ragdoll">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/icon.ico">
  <meta property="og:site_name" content="The Iron Ragdoll">
  <meta property="og:description" content="{{ desc }}">
  <title>{% if page.url != '/' %}{{ title }} | {% endif %}The Iron Ragdoll</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/css/callout.css"/>
  <link rel="stylesheet" href="/css/linkcolor.css"/>
  <link rel="icon" href="/icon.ico"/>
  {% if widepage %}
    <style>
      main {
        max-width: 1200px;
      }
    </style>
  {% endif %}
</head>
<body class="{% if theme == 'light' or theme == 'dark' %}{{ theme }}{% else %}light{% endif %}">
<div id="title"><a href="/">The Iron Ragdoll</a></div>
<nav>
  <a href="#top">(Top)</a>
  <a href="/about/">About</a>
  <a href="/characters/">Characters</a>
  <a href="/stories/">Stories</a>
  <a href="/world/">World</a>
  <a href="/gallery/2025/">Gallery</a>
</nav>
<main>
  {% unless noNav %}
    {% if navTitle %}
      {% assign bc = collections.all | eleventyNavigationBreadcrumb: navTitle, navOptions %}
    {% else %}
      {% assign bc = collections.all | eleventyNavigationBreadcrumb: title, navOptions %}
    {% endif %}
    {% assign length = bc | size %}
    {% if length > 2 %}
      <div class="breadcrumbs">
        {% for item in bc %}
          {% if forloop.index != 1 %}
            {% if forloop.index != 2 %}
              <span>{% lucide 'chevron-right' %}</span>
            {% endif %}
            <a href="{{ item.url }}">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endunless %}
  {{ content }}
</main>
{% unless noFooter %}
  <div id="footer">
      <div id="footer-controls">
        {% unless theme == 'light' or theme == 'dark' %}
          <div id="theme-toggle-wrap">
            <div id="theme-toggle">
              <div id="button">
                {% lucide 'sun' %}
                {% lucide 'moon' %}
              </div>
            </div>
          </div>
          <script src="/js/themeSwitch.js"></script>
        {% endunless %}
        {% comment %} <div id="back-to-top">
          <a href="#top">{% lucide 'arrow-up-to-line' %}</a>
        </div> {% endcomment %}
      </div>
      {% assign footerimg = gallery | filterGalleryByKind: 'footer' | getFooterImg: title %}
      {% assign footername = footerimg.name | append: '.' | append: footerimg.type %}
      {% image 'gallery/' footername 500 footerimg.name 'footer-img' %}
  </div>
{% endunless %}
<div class="license">The Iron Ragdoll by Tofutush is licensed under <a class="plain-link" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.3.0/quicklink.umd.js"></script>
<script>
if(!window.location.href.includes('localhost'))
  window.addEventListener('load', () => {
    quicklink.listen();
  });
</script>
</body>
</html>